<template name="home">
  <div class="page home">

    {{>nav title='Inherent Vice' black=true}}

    <div class="content-scrollable">
      <div class="bg-image home">
        <h1 class="title-home">
          <!--<img src="img/app/home-text.png" alt="Inherent Vice"/>-->
			<!--<img src="img/app/logo-local.svg" alt="Local Market"/>-->
        </h1>
        <span class="hours">
			<span class="title-callout">Control Yourself</span>
        	and help charity too...
		</span>
        <span class="arrow"></span>
      </div>

      <div class="callout-news">
        <span class="title-callout">Select Your Vice</span>
      </div>

      <div class="list-subtitle">tap one below to get started</div>

    </div>

  </div>
</template>