<template name="vice">

<div class="page recipe {{activeTabClass}}">
	{{#nav title='Vice' black=true back=true}}
	{{/nav}}

	<div class="image-recipe" style="background-image: url('/{{imageSrc}}')"></div>

	<div class="attribution-recipe js-uncollapse">
		<h1 class="title-recipe">{{title}}</h1>
		<div class="metadata-wrapper">
			<p class="description-recipe">{{excerpt}}</p>
			<span class="source">{{source.name}}</span>
			<span class="time">{{cookTime}}</span>
		</div>

		<div class="btns-group">
			<a class="btn-secondary {{#if isActiveTab 'make'}}active{{/if}} {{#if isActiveTab 'recipe'}}no-state{{/if}} js-show-recipe">Time frame</a>
			<a class="btn-secondary {{#if isActiveTab 'feed'}}active{{/if}} {{#if isActiveTab 'recipe'}}no-state{{/if}} js-show-feed">Donation</a>
		</div>
	</div>


	<div class="content-scrollable static-nav make-scrollable text-center">
	<!--<a class="btn-tertiary js-share"><i class="fa fa-clock-o"></i> Choose a time-frame</a>-->
	{{#if committed}}
		<span class="title-callout"><i class="fa fa-clock-o"></i> Current time frame</span>
		<div class="list-subtitle"> You are going to avoid {{synonym}} for:</div>
		<div class="time-frame-countdown">
			{{timeleft}}
		</div>
	{{else}}
		<span class="title-callout"><i class="fa fa-clock-o"></i> Choose a time frame</span>
		<div class="list-subtitle"> Select how long you will avoid {{synonym}}</div>
		<div class="time-frame-button">
			1 Day
		</div>
		<div class="time-frame-button">
			1 Week
		</div>
		<div class="time-frame-button">
			1 Month
		</div>
		<div class="time-frame-button">
			1 Year
		</div>
		<br/>
		<a href="#" class="btn-primary js-open">Commit</a>
	{{/if}}
	</div>

		<div class="content-scrollable static-nav feed-scrollable">
			<!--<a class="btn-tertiary js-share"><span class="icon-camera"></span> Share that you made this</a>-->
			<span class="title-callout"><i class="fa fa-money"></i> Choose a Charity</span>
			<div class="list-subtitle"> Select which charity to donate to when you indulge</div>
			<div class="list-activities">
				{{#each activities}}
					{{> activity}}
				{{else}}
					<div class="wrapper-message">
						<div class="title-message">No feed activity yet</div>
						<div class="subtitle-message">Be the first to share that you made this recipe. <a class="js-share">Share now</a></div>
					</div>
				{{/each}}
			</div>
		</div>
	</div>
	</template>